.addblog {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
  }
  
  .addBlogTitle {
    font-size: 50px;
  }
  
  .addBlogForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .addBlogForm > label {
    margin: 10px 0;
  }
  
  .addBlogInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .addBlogInput:focus {
    outline: none;
  }
  
  .addBlogButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
